@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.logo-1{

    width:70px;
    height:132px;position:fixed;
    top:100px;
    left:0px;
    z-index:99999;
    text-indent:-9999px;
    background: url(http://www.designnominees.com/ribbons/designnominees-ribbon-black-left.png) no-repeat;
}

.sec-v-title {
	position: relative;
	padding-bottom: 32px;
	margin-bottom: 90px;
	margin-top: -18px;
}

.sec-v-title h2 {
	color: #000000;
	font-size: 45px;
	font-weight: 700;
	text-transform: capitalize;
}

/* Enrique Alvites */

/* div class="lading-page" */


.landing-page .container-fluid{
	padding: 0 60px;
}

/* Section "block" */

section{
	display: block;
	position: relative;
}

.block{
	padding: 140px 0;
}

.sec-v-title h2{
	color: #000000;
	font-family: 'Barlow', sans-serif;
	font-size: 45px;
	font-weight: 500;
	text-transform: capitalize;
}


.sec-v-title{
	position: relative;
	padding-bottom: 32px;
	margin-bottom: 90px;
	margin-top: -18px;
}

.sec-v-title:before{
	content: '';
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 56px;
	height: 4px;
	background-color: #00b9c6;
	transform: translateX(-50%);
}

.songs{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	margin-bottom: -70px;

}

#padre{
	/* margin: 0 -15px; */
}

.song{
	text-align: center;
	margin-bottom: 62px;
	
}

.repo-song-file{
	margin-bottom: 20px;
	position: relative;
	transition: all 0.3 ease;
	
}

.repo-song-file img{
	width: 100%;
}

.t-link{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease-in-out;
	color: inherit;
}

.song h3{
	font-family: 'Barlow', sans-serif;
	color: #010100;
	font-size: 25px;
	text-transform: capitalize;
	font-weight: 400;
	padding: 2.3px;
}

.song h3 a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.div-demo{
	padding: 0 15px;
}
/* Fin Enrique Alvites */

.carousel-inner img{
    max-width: 200vh;
    object-fit: cover;
} 
.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}

#carousel {
    position: relative;
}

#cabezera{
	background-color: rgba(226,1,101,255);
}
#contenido{
	background-color: rgba(252,251,250,255);
}
#responsive{
	background-color: rgba(245,89,164,255);
}

/* Guerson Aarom */
/* carousel  */
.innerpage{
	text-align: center;
	margin-bottom: 62px;
}
.innerpage-thumb{
	margin-bottom: 20px;
	position: relative;
	transition: all 0.3s ease;
}
.innerpage-thumb > img{
	width: 100%;
}
.innerpages{
	 margin-bottom: -70px;
}

.innerpages.innerpage-slider.row.slick-initialized.slick-slider.slick-dotted {}
.innerpage-slider .innerpage{
	margin-bottom: 130px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.innerpage-slider .innerpage .innerpage-thumb{
	margin-bottom: 0;
	box-shadow: 0 0 20px rgb(0 0 0 /10%);	
}
img{
	vertical-align: middle;
	height: auto;
}

.col-lg-4{
	padding-right: 15px;
	padding-left: 15px;
}


.slick-dots{
	bottom: 30px;
	
}
.slick-dots li{
	margin-right: 12px;
}

.slick-dots li button{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f559a4;
}

.slick-slide-control07{
	display: none;
}

.slick-dots li:last-child{
	display: none;
}


.slick-dots li.slick-active button{
	background-color:#00b9c6;
	
}
.slick-dots li.slick-active button::before{
	color: transparent;
}

.slick-dots li button::before{
	color: transparent;
}


/*carousel end*/
/* End Guerson Leon*/



#david {
    position: relative;
    top: 1%;
    left: 3%;
}

#container{
    width: 100%;
    background-image: url(../img/img.jpg); 
    height: 100%; 
    background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0 120px;
    background-position: left;
}
#tex{
	color: #fff;

}
#david h2 {
    font-weight: 700;
    font-size: 80px; 
    line-height: 80px; 
    color: white;
    margin-bottom: 3%;
}
#container p {
    color: #fef504;

}
#boton {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: 58px;
    font-weight: 700;
    padding: 0 35px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-transform: capitalize;
    margin: 4% 0 4% 0;
    text-decoration: none;
}


@media (max-width: 768px){
    #container {padding: 30px 0 100px;}
    }

@media (max-width: 1200px){
        #container {background-position: center;}
        #container {padding: 0 150px;}
    }

	footer{
		display: block;
		margin: 0;
		border: 0;
		font: inherit;
		width: 100%;
	}
	
	.footer1{
		background-color: #000000;
		padding: 87px 0;
	}
	
	.caja1 {
		padding: 0 15px;
		text-align: center;
	}
	
	.caja2 {
		text-align: center;
	}
	
	.caja2 img{
		margin-bottom: 55px;
	}
	
	.buy {
		display: inline-block;
		color: #fff;
		font-size: 20px;
		height: 60px;
		line-height: 58px;
		font-weight: 700;
		padding: 0 35px;
		border-radius: 30px;
		border: 1px solid #fff;
		margin-bottom: 20px;
	}
	
	a{
		text-decoration: none;
		background-color: transparent;
		touch-action: manipulation;
	}
	
	.buy:hover{
		background-color: #fff;
		transition: background-color 1s;
	}
	@media (max-width: 1700px){
		#container {height: 160vh;}
	
	}
	@media (max-width: 1200px){
		#container {background-position: center;}
		#container {padding: 0 10px;}
		#container {height: 160vh;}
		#david {position: relative;}
		#david {top: 1%;}
		#david {left: 3%;}
		#david img {margin: 2%;}
		}
	@media (max-width: 768px){
		#container {height: 170vh;}
		#david {top: 1%;}
		#david {left: 2%;}
		}
	@media (max-width: 576px){
		#container {height: 140vh;}
	}

	.icon1{
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		cursor: pointer;
		justify-content: center;
	}
	
	.icon2{
		position: relative;
		width: 80px;
		height: 80px;
		margin: 20px;
		border-radius: 50%;
		transition: all .8s;
	}
	
	.icon2:hover{
		background-color: #e60073;
		box-shadow: 0 0 20px #e60073;
	}
	
	.icon2:hover:nth-child(2){
		background-color: #1877f2;
		box-shadow: 0 0 20px #1877f2;
	}
	
	.icon2:hover:nth-child(3){
		background-color: #25d366;
		box-shadow: 0 0 20px #25d366;
	}
	
	.icon2 i{
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.7rem;
	}
	
	svg circle{
		stroke-dasharray: 150;
		transition: all .8s ease-in-out;
	}
	
	.icon2:hover circle{
		stroke-dasharray: 220;
	}