html{
    font-size: 16px;
}

body {
    background-color: black;
}

.navbar-custom {
    background-color: #070c0d;
}

main .carousel-inner img{
    max-width: 200vh;
    object-fit: cover;
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
}

#carousel .overlay .container, #carousel .overlay .row{
    height: 100%;
}

#HOME{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.text-about{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.text-title{
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: white;
}

.text-title-second{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.text-oswald{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.text-list{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

#SERVICES{
    font-family: 'Oswald', sans-serif;
}

.text-anton{
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    font-weight: 100;
}

.text-shadows{
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2rem;
}

.text-tittle-ourteam{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.text-ourteam{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
}

.text-video{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
}

.tex-contacts{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}

.text-videos{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
}

.text-title-appo{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}


#contactos{
    background-image: url(imagenes/gato-content.jpg);
    background-repeat: no-repeat;
    background-size: fixed;
    height: 100vh;
    width: 100;
}

p{
    color:  #c6c5c4;
    font-size: 16px;
    font-weight: bold;
}

#footer{
    background-color:  black ;
    padding: 20px 0px 20px 0px;
}

.form-control{
    border-radius: 15px;
    opacity: 0.6;
}

.text-form{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    color: #0d1b1b; 
    font-weight: bold;
    
}

#logo-iconos, #footer-icons{
    padding-top: 6%;
}
#instagram-icon, #facebook-icon{
    color:  white  ;
}


/* BREACKPOINTS */

@media screen and (max-width: 1200px) {

    .text-title{
        font-family: 'Oswald', sans-serif;
        font-size: 4.5rem;
        font-weight: 600;
        color: white;
    }

    .text-oswald{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
    }

    .tex-contacts{
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
    }

    .text-anton{
        font-family: 'Anton', sans-serif;
        font-size: 2.5rem;
        font-weight: 100;
    }
    
    .text-shadows{
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 1.5rem;
    }
    .text-ourteam{
        font-family: 'Oswald', sans-serif;
        font-size: 1.6rem;
    }

    .text-videos{
        font-family: 'Oswald', sans-serif;
        font-size: 1.6rem;
    }
    
}

@media screen and (max-width: 992px) {

    .text-title{
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }

    .text-oswald{
        font-family: 'Oswald', sans-serif;
        font-size: 2.3rem;
    }
    
    .tex-contacts{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
    }

    .text-anton{
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
        font-weight: 100;
    }
    
    .text-shadows{
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 1.2rem;
    }
    .text-ourteam{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {

    .text-title{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        color: white;
    }

    .text-oswald{
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
    }

    .text-list{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
    }

    .tex-contacts{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
    }

    #contactos{
        background-image: url(imagenes/gato-content.jpg);
        background-repeat: no-repeat;
        background-size: fixed;
        background-position: center;
        height: 75vh;
        width: 100;
    }

    .text-anton{
        font-family: 'Anton', sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
    }
    
    .text-shadows{
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 1rem;
    }
    .text-ourteam{
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
    }

    .text-videos{
        font-family: 'Oswald', sans-serif;
        font-size: 1.4rem;
    }
    
}

@media screen and (max-width: 576px) {

    .text-title{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
    }

    .text-oswald{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
    }
    
    .tex-contacts{
        font-family: 'Oswald', sans-serif;
        font-size: 1.0rem;
    }

    #contactos{
        background-image: url(imagenes/gato-content.jpg);
        background-repeat: no-repeat;
        background-size: fixed;
        background-position: center;
        height: 50vh;
        width: 100;
    }

    .text-anton{
        font-family: 'Anton', sans-serif;
        font-size: 1.1rem;
        font-weight: 100;
    }
    
    .text-shadows{
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 0.8rem;
    }

    .text-ourteam{
        font-family: 'Oswald', sans-serif;
        font-size: 0.8rem;
    }

    .text-videos{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 400px) {


    .text-list{
        font-family: 'Oswald', sans-serif;
        font-size: 4rem;
    }

    .text-oswald{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
    }

    .text-list{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
    }

    #contactos{
        background-image: url(imagenes/gato-content.jpg);
        background-repeat: no-repeat;
        background-size: fixed;
        background-position: center;
        height: 50vh;
        width: 100;
        margin-bottom: 3rem;
    }

    .text-anton{
        font-family: 'Anton', sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }
    
    .text-shadows{
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 0.7rem;
    }
    .text-videos{
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
    }

}